page-dealer-distributors {
  .card-md {
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-bottom: 20px;
  }
  .edit_bg{background: #408f98; color: #fff;text-align: center;
    padding: 10px 0;}
  .delet_bg{background: #666;color: #fff;text-align: center;
    padding: 10px 0;}
  .job_mgm_lbl {
    width: 100%;
    display: inline-block;
    color: #a2a2a2;
    line-height: 10px;
    font-size: 12px;
  }
}
