<ion-content>
  <div class="fixscrollcontainer">
  <ion-row class="loginapp_icon">
    <ion-card class="logo_container">
      <ion-item class="no_bg">
        <img src="assets/imgs/ic_launcher.png" class="login-img">
      </ion-item>
    </ion-card>
  </ion-row>

  <ion-row class="loginapp_icon" style="background: #eee;    padding-bottom: 16px;">
    <ion-card class="no_bg login_fields ">
      <ion-row>
        <ion-label center class="sign_toplabel">{{ 'LOGIN_PAGE.PAGE_TITLE' | translate }}</ion-label>
      </ion-row>
      <ion-item class="no_bg no_shadow input_container ">
        <ion-label floating>{{ 'LOGIN_PAGE.LABELS.lb_mobile_no_hint' | translate }}</ion-label>
        <ion-input class="usr_namefeild" type="tel" maxlength="10" minlength="10" [(ngModel)]="username" required
                   (ionChange)="inputMobilecall()"></ion-input>
      </ion-item>

      <ion-item class="no_bg no_shadow input_container " *ngIf="requestedOtp">
        <ion-label floating>Enter OTP</ion-label>
        <ion-input class="usr_namefeild" type="number" maxlength="8" minlength="4" [(ngModel)]="password" required
                   (ionChange)="inputMobilecall()"></ion-input>
      </ion-item>

      <div *ngIf="requestedOtp" style="text-align: center; padding-top: -10px;">
        <button (click)="getOtp()" primary [disabled]="timerRunning" style="background:#666;color:#fff;">Resend OTP</button>
        <span class="text-primary" *ngIf="timerRunning"> {{timerValue}}</span>
      </div>

      <button class="btn-lg mgtop-20 button button-md button-block-md"  ion-button  color="primary" block *ngIf="!requestedOtp" (click)="getOtp();">
        Get OTP
      </button>
      <button class="btn-lg mgtop-20 button button-md button-block-md"  ion-button  color="primary" block *ngIf="requestedOtp" (click)="logIn();">
        {{ 'LOGIN_PAGE.BUTTONS.btn_sign_in' | translate}}
      </button>

      <ion-item *ngIf="errorText">
        <p item-left class="danger">
          <ion-icon name="alert"></ion-icon>
          &nbsp;<span>{{errorText}}</span></p>
      </ion-item>
      <ion-spinner block padding="40" name="dots" color="light" *ngIf="showProgress" end
                   class="btn_signin"></ion-spinner>
    </ion-card>
  </ion-row>
  <!--<ion-row>
    <ion-col class="poweredBy center">
      <img src="assets/imgs/powerby.png" class="" width="55%">
    </ion-col>
  </ion-row>-->
  </div>
</ion-content>

