<ion-content padding>

  <ion-spinner *ngIf="showProgress" block class="spinner_center" color="primary" item-center
               name="crescent"></ion-spinner>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <h5 *ngIf="noRecords" class="empty_middle_text_center" text-center="true">Orders not found</h5>


  <ion-list *ngIf="!noRecords">
    <div *ngFor="let order of response; let i = index;">

      <ion-card>

        <ion-card-header>
          {{order.statusUpdated}}
        </ion-card-header>

        <ion-row>
          <ion-col>#{{order.order_id}} </ion-col>
          <ion-col>{{order.quantity}}</ion-col>
          <ion-col>INR{{order.bill_amount}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>{{order.productdetails.category + " " + order.brandname + " " + order.prod_type }} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>{{order.slotdate}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>{{order.orderby_address}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Cost</ion-col>
          <ion-col>{{order.prod_cost}}</ion-col>
        </ion-row>



        <!--accept or reject order-->
        <ion-row *ngIf="order.orderstatus == 'assigned'">
          <ion-col>
            <button (click)="updateOrderStatus($event,i,'backtodealer');"  ion-button>
              REJECT
            </button>
          </ion-col>
          <ion-col>
            <button (click)="updateOrderStatus($event,i,'accept');"  ion-button>
              ACCEPT
            </button>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="order.orderstatus == 'accepted'">
          <button (click)="updateOrderStatus($event,i,'orderstarted');"  ion-button>
            STARTED
          </button>
        </ion-row>

        <ion-row *ngIf="order.orderstatus == 'orderstarted'">
          <button (click)="updateOrderStatus($event,i,'jobstarted');" ion-button>
            JOB START
          </button>
        </ion-row>


        <ion-row>
          <button (click)="viewDetails($event,order.order_id,order.category.categoryid);" ion-button>
            VIEW DETAILS
          </button>
        </ion-row>

      </ion-card>
    </div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
