page-dealer-products {
  .card-md {
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-bottom: 20px;
  }

  .dialogcustomstyle {
    height: 50% !important;
    margin-top: 35% !important;
  }
  .edit_bg{background: #408f98; color: #fff;text-align: center;
    padding: 10px 0;}
  .delet_bg{background: #666;color: #fff;text-align: center;
    padding: 10px 0;}
}
