<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title start>
      <img class="header_icon" src="assets/imgs/img_repairing_service.png">
      <span class="title-style">SERVICES</span>
    </ion-title>
    <ion-buttons (click)="create($event, '')" end>
      <button icon-end ion-button>
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-spinner *ngIf="showProgress" block class="spinner_center" color="primary" item-center
               name="crescent"></ion-spinner>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <h5 *ngIf="noRecords" class="empty_middle_text_center" text-center="true">Services not found</h5>
  <ion-list *ngIf="!noRecords">
    <div *ngFor="let product of response">
      <ion-card>
        <ion-row>
          <ion-col>
            <div class="prod_cat">{{product.category}} </div>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col col-2>
            <ion-avatar>
              <img [src]="product.imgUrl" style="height: 40px; width: 40px" (error)="assetImg();">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <div class="prod_cost"> {{product.brandname}}</div>
            <div class="prod_type">{{product.ptype}}</div>
            <div class="prod_cost">{{product.pcost}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col (click)="create($event, product);" class="edit_bg"><span class="header_icon">Edit</span>
          </ion-col>
          <ion-col (click)="showPromptForDelete($event, product);"
                   class="delet_bg"><span class="header_icon">Delete</span></ion-col>

        </ion-row>

      </ion-card>
    </div>
  </ion-list>
</ion-content>
