<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button (click)="dismiss()" class="my-style-for-modal" icon-only ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <img class="header_icon_addrs" src="assets/imgs/header_icon.png">
      <span class="title-style">{{pageTitle}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="fixscrollcontainer">
  <form class="customer_poptxt">

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>{{ 'CREATE_VENDORS_PAGE.LABELS.lb_first_name' | translate }} *</ion-label>
      <ion-input name="firstname" class="" type="text" [(ngModel)]="input.firstname" required [disabled]="disable"></ion-input>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>{{ 'CREATE_VENDORS_PAGE.LABELS.lb_last_name' | translate }} *</ion-label>
      <ion-input name="lastname" class="" type="text" [(ngModel)]="input.lastname" required [disabled]="disable"></ion-input>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>{{ 'CREATE_VENDORS_PAGE.LABELS.lb_phone_number' | translate }} *</ion-label>
      <ion-input class="" name="phno1" type="tel" maxlength="9" minlength="9" [(ngModel)]="input.phno1" required [disabled]="disable"></ion-input>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>{{ 'CREATE_VENDORS_PAGE.LABELS.lb_company_name' | translate }} *</ion-label>
      <ion-input class="" name="companyName" type="text" [(ngModel)]="input.companyName" maxlength="50" [disabled]="disable"></ion-input>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container " >
      <ion-label floating>{{ 'CREATE_VENDORS_PAGE.LABELS.lb_address' | translate }} *</ion-label>
      <ion-input class="" type="text" [(ngModel)]="input.addr" name="addr" maxlength="250" [disabled]="disable"></ion-input>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>{{ 'CREATE_VENDORS_PAGE.LABELS.lb_gst_number' | translate }}</ion-label>
      <ion-input class="" type="text" [(ngModel)]="input.gstNumber" name="gstNumber" maxlength="50"
                 required [disabled]="disable"></ion-input>
    </ion-item>

    <div *ngIf="bankDetails && bankDetails.length > 0">
    <br>
    <ion-item>Bank1 Details</ion-item>
    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>{{ 'Bank Name*' }}</ion-label>
      <ion-input class="" type="text" [(ngModel)]="bankDetails[0].name" name="name" maxlength="50" required></ion-input>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>{{ 'Bank Ifsc*' }}</ion-label>
      <ion-input class="" type="text" [(ngModel)]="bankDetails[0].ifsc" name="ifsc" maxlength="20" required></ion-input>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>{{ 'Account Number*' }}</ion-label>
      <ion-input class="" type="number" [(ngModel)]="bankDetails[0].number" name="number" maxlength="20" required></ion-input>
    </ion-item>
    </div>

    <div *ngIf="bankDetails && bankDetails.length > 1">
      <br>
      <ion-item>Bank2 Details</ion-item>
      <ion-item class="no_bg no_shadow input_container ">
        <ion-label floating>{{ 'Bank Name' }}</ion-label>
        <ion-input class="" type="text" [(ngModel)]="bankDetails[1].name" name="name" maxlength="50" required></ion-input>
      </ion-item>

      <ion-item class="no_bg no_shadow input_container ">
        <ion-label floating>{{ 'Bank Ifsc' }}</ion-label>
        <ion-input class="" type="text" [(ngModel)]="bankDetails[1].ifsc" name="ifsc" maxlength="20" required></ion-input>
      </ion-item>

      <ion-item class="no_bg no_shadow input_container ">
        <ion-label floating>{{ 'Account Number' }}</ion-label>
        <ion-input class="" type="number" [(ngModel)]="bankDetails[1].number" name="number" maxlength="20" required></ion-input>
      </ion-item>
    </div>



    <ion-row *ngIf="type != 'view'">
      <ion-col align-self-center="">
        <button ion-button class="wd-100pc bg-gray" (click)="closeModal()">{{ 'CREATE_VENDORS_PAGE.BUTTONS.btn_cancel' | translate }}</button>
      </ion-col>
      <ion-col align-self-center="">
        <button ion-button class="wd-100pc" type="Create" (click)="doValidation();">{{buttonTitle}}</button>
      </ion-col>
    </ion-row>

  </form>
  </div>
</ion-content>
