page-dealer-pre-orders-cart {
  .cart_plus_minus_icon {
    width: 15px;
    height: 15px;
    margin: 0px 0 -6px 0 !important
  }

  .ion-checkbox-viewport {
    height: 65%;
    width:100%;
    display:block !important;
    overflow:scroll !important;
  }
}
