page-dealer-customers-create {
  .customer_poptxt .text-input.text-input-md {

    margin: 4px 0 !important;

  }
  .payment_lbl{margin: 8px !important;
    display: inline-block;}
  .card_lst_cntr.card-ios {
    margin: 12px 0 0 0;
    width: 100%;
  }
}
