page-feedback {
  .card-md {
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-bottom: 20px;
  }
  .usercommentnm {
    color: #38b7fe;
    font-size: 13px;
  }
  .comentstdate {
    color: #666;
    text-align: right;
    font-size: 12px;
  }
  .comentsub {
    color: #aaa;
    font-size: 12px;
    text-transform: uppercase;
  }
  .recivefrom,.comentsubcont { color: #666;
    text-align: left;
    font-size: 12px;
  }
  .recivecntr {

    width: 93%;
    float: right;
    text-align: right;
    margin-right: 5px;
    .card-md{box-shadow: none;
      background: #efefef;

    }
  }
.feedbk_btns{width: 100%;}

}
