<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title start>
      <img class="header_icon" src="assets/imgs/img_rating.png">
      <span class="title-style">FEEDBACK MGMT</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="fixscrollcontainer">
  <ion-spinner block name="crescent" color="primary" class="spinner_center" *ngIf="showProgress"
               item-center></ion-spinner>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <h5 *ngIf="noRecords" class="empty_middle_text_center" style="top: 0;" text-center="true">Feedbacks not found</h5>
  <ion-list *ngIf="!noRecords">
    <div *ngFor="let res of response">
      <ion-card>
        <h2 *ngIf="res.status == 'close' ">CLOSED</h2>
        <ion-row>
          <ion-col class="usercommentnm">{{res.createdby.firstname}}</ion-col>
          <ion-col class="comentstdate">{{res.createddate|date:'dd-MM-yyyy HH:mm'}}</ion-col>
        </ion-row>


        <ion-row>
          <ion-col class="comentsub">{{res.subject}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="comentsubcont">
          {{res.details}}
        </ion-col>
        </ion-row>

        <div *ngIf="res.reply" class="recivecntr">
          <div *ngFor="let re of res.reply">

            <ion-card class="card-md1" >
              <ion-row>
                <ion-col class="usercommentnm left "><span class="recivefrom">Reply from</span> {{re.createdby.mobileno}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="comentsubcont">
                {{re.message}}
                </ion-col>
              </ion-row>
            </ion-card>
          </div>

        </div>

        <ion-row class="feedbk_btns">

            <ion-col class="edit_bg">
              <span class="header_icon " *ngIf="res.status != 'close' "
                   (click)="showPromptForCreateIssue($event, res);">Reply</span>
            </ion-col>

            <ion-col class="delet_bg">
              <span class="header_icon "
                          *ngIf="res.status != 'close' "
                           (click)="changeIssueStatus($event, res, 'close');">Close</span>
            </ion-col>

          <ion-col><img src="assets/imgs/img_tick.png"
                        class="header_icon"
                        *ngIf="res.status == 'close' "
                        (click)="changeIssueStatus($event, res, 'open');">
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </ion-list>
  </div>
</ion-content>
