<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title start>
      <img class="header_icon" src="assets/imgs/img_customer_care.png">
      <span class="title-style">CUSTOMER CARE</span>
      <img (click)="create($event, '')" class="header_icon" src="assets/imgs/img_add.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-spinner block name="crescent" color="primary" class="spinner_center" *ngIf="showProgress"
               item-center>
  </ion-spinner>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <h5 *ngIf="noRecords" class="empty_middle_text_center" text-center="true">Users not found</h5>
  <ion-list *ngIf="!noRecords">
    <div *ngFor="let user of response">
      <ion-card>

        <ion-row>
          <ion-col><span class="job_mgm_lbl">User name</span>
            {{user.firstname + " " + user.lastname}}
          </ion-col>
          <ion-col><span class="job_mgm_lbl">Mobile</span>
            {{user.mobileno}}
          </ion-col>
        </ion-row>

        <ion-row *ngIf="user.address">
          <ion-col>
            <ion-icon name="pin"></ion-icon>  {{user.address}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="edit_bg"><span  class="header_icon" (click)="create($event, user);">Edit</span>
          </ion-col>
          <ion-col class="delet_bg"><span  class="header_icon"
                                           (click)="showPromptForDelete($event, user);">Delete</span></ion-col>
        </ion-row>

      </ion-card>
    </div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
