<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title start>
      <img class="header_icon" src="assets/imgs/img_payments.png">
      <span class="title-style">Payments</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="fixscrollcontainer">
  <ion-spinner *ngIf="showProgress" block class="spinner_center" color="primary" item-center
               name="crescent"></ion-spinner>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <h5 *ngIf="noRecords" >Payments not found</h5>


  <ion-list *ngIf="!noRecords">
    <div *ngFor="let payment of response">

      <ion-card class="colomn_main ">

        <ion-card-header class="jobid_header">
          Status: {{payment.statustext}}
        </ion-card-header>

        <ion-row>
          <ion-col>Transaction ID</ion-col>
          <ion-col>Received Date</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>#{{payment.paymentid}}</ion-col>
          <ion-col>{{payment.amount_receiveddate | utcDate}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Payed By</ion-col>
          <ion-col>Received By</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{validate(payment.customer.firstname) +' '+validate(payment.customer.lastname)}}</ion-col>
          <ion-col>{{validate(payment.supplier.firstname) +' '+validate(payment.supplier.lastname)}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Payment Type</ion-col>
          <ion-col>{{payment.payment_type}}</ion-col>
        </ion-row>

        <ion-row *ngIf="payment.status == 'received' && userType=='dealer'">
          <ion-col (click)="changeStatus('reject',payment)">
            <button ion-button full>Reject</button>
          </ion-col>
          <ion-col (click)="changeStatus('confirm',payment)">
            <button ion-button full>Confirm</button>
          </ion-col>

        </ion-row>

      </ion-card>
    </div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </div>
</ion-content>

