<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title start>
      <img class="header_icon" src="assets/imgs/img_payments.png">
      <span class="title-style">{{ 'PAYMENTS_PAGE.PAGE_TITLE' | translate }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="fixscrollcontainer">
    <ion-spinner *ngIf="showProgress" block class="spinner_center" color="primary" item-center
                 name="crescent"></ion-spinner>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>

    <h5 *ngIf="noRecords">Payments not found</h5>


    <ion-list *ngIf="!noRecords">
      <div *ngFor="let payment of response">

        <ion-card class="colomn_main ">

          <ion-card-header class="jobid_header">
            {{ 'PAYMENTS_PAGE.LABELS.lb_status' | translate }}: {{payment.statustext}}
          </ion-card-header>

          <ion-row>
            <ion-col style="text-align: left"><span
              class="labelgrey">{{ 'PAYMENTS_PAGE.LABELS.lb_transaction_id' | translate }}</span><br/>#{{payment?.orderid}}
            </ion-col>
            <ion-col style="text-align: center"><span
              class="labelgrey">{{ 'PAYMENTS_REPORTS_PAGE.LABELS.lb_amount' | translate }}</span><br/>{{payment?.amount_received}}
            </ion-col>
            <ion-col style="text-align: right"><span
              class="labelgrey">{{ 'PAYMENTS_PAGE.LABELS.lb_payment_type' | translate }}</span>
              <br/>{{updatePaymentType(payment?.payment_type) | uppercase}}</ion-col>
          </ion-row>

          <ion-row style=" margin-top: 3px;;">
            <ion-col class="labelgrey"
                     style="text-align: center;">{{ 'PAYMENTS_PAGE.LABELS.lb_payed_by' | translate }}</ion-col>
            <ion-col class="labelgrey">  {{ 'PAYMENTS_PAGE.LABELS.lb_received_date' | translate }}</ion-col>
            <ion-col class="labelgrey">{{ 'PAYMENTS_PAGE.LABELS.lb_received_by' | translate }}</ion-col>

          </ion-row>
          <ion-row>
            <ion-col>
              <ul class="timelinetop">
                <li style="color:red;">
                  <span></span>{{validate(payment.customer.firstname) + ' ' + validate(payment.customer.lastname)}}</li>
                <li><span></span>{{payment.amount_receiveddate | utcDate}}</li>
                <li style="color:green;">
                  <span></span>{{validate(payment.supplier.firstname) + ' ' + validate(payment.supplier.lastname)}}</li>
              </ul>
            </ion-col>

          </ion-row>


        </ion-card>
      </div>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>

