<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


  <div align="center" *ngIf="person">
    <img style="width: 40%;" class="profile-image" src="assets/imgs/img_user.png">
    <h4>{{person.firstname}}</h4>
  </div>
  <ion-list *ngIf="person">
    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="person.firstname" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="person.lastname" name="name" required></ion-input>      
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="person.emailid" name="name" required></ion-input>      
    </ion-item>
    <ion-item>
      <ion-label floating>Mobile Number</ion-label>
      <ion-input type="text" [(ngModel)]="person.mobileno" name="name" required></ion-input>      
    </ion-item>
    <ion-item>
      <ion-label floating>Address</ion-label>
      <ion-input type="text" [(ngModel)]="person.address" name="name" required></ion-input>      
    </ion-item>
  </ion-list>
  <button color="secondary" ion-button block (click)="save()">Save</button>
</ion-content>