page-dealer-profile {
  .image {
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px gray;
    margin-left: auto;
    margin-right: auto;
  }

.profile_btn{background:#38b7fe;}
}
