<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'PROFILE_PAGE.PAGE_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="fixscrollcontainer">
  <ion-spinner block name="crescent" color="primary" class="spinner_center" *ngIf="showProgress"
               item-center></ion-spinner>

  <div *ngIf="!showProgress">

    <div align="center" *ngIf="person">
      <img style="width: 40%;" class="profile-image"
           [src]="imgUrl"
           (error)="assetImg();"
           (click)="promptPickImage($event);">
      <h4>{{person.firstname}}</h4>
    </div>

    <ion-list *ngIf="person">
      <ion-item>
        <ion-label floating>{{ 'PROFILE_PAGE.LABELS.lb_first_name' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="person.firstname" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'PROFILE_PAGE.LABELS.lb_last_name' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="person.lastname" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'PROFILE_PAGE.LABELS.lb_email' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="person.emailid" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'PROFILE_PAGE.LABELS.lb_mobile_number' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="person.mobileno" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'PROFILE_PAGE.LABELS.lb_address' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="person.address" name="name" required></ion-input>
      </ion-item>

      <ion-item *ngIf="showFlottingCash">
        <ion-label floating>{{ 'PROFILE_PAGE.LABELS.lb_cash' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="person.flottingcash" name="name" required disabled></ion-input>
      </ion-item>
    </ion-list>
    <button color="secondary" class="profile_btn" ion-button block (click)="save()">{{ 'PROFILE_PAGE.BUTTONS.btn_save' | translate }}</button>
  </div>
  </div>
</ion-content>
