
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title start>
      <span class="title-style">{{ 'SERVICE_AREAS_PAGE.PAGE_TITLE' | translate }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-row>
    <ion-col>
      <ion-icon name="create" style="padding: 1%; color: grey; background-color: #38b7fe" (click)="polygonCreate()"></ion-icon>
      <ion-icon name="hand" style="padding: 1%; color: grey; background-color: #38b7fe" (click)="polygonEdit()"></ion-icon>
    </ion-col>
    <ion-buttons *ngIf="isEditingPolygon">
      <button ion-button color="primary" (click)="createArea();">{{ 'SERVICE_AREAS_PAGE.BUTTONS.btn_add' | translate }}</button>
      <button ion-button color="primary" (click)="close();">{{ 'SERVICE_AREAS_PAGE.BUTTONS.btn_remove' | translate }}</button>
    </ion-buttons>

  </ion-row>

  <div id="map_canvas" style="height: 100%">
  </div>

</ion-content>

<ion-footer>
  <ion-row *ngIf="isEditedPolygon">
    <ion-col class="edit_bg" (click)="saveIntoServer()">
      <span class="header_icon">{{ 'SERVICE_AREAS_PAGE.BUTTONS.btn_update' | translate }}</span>
    </ion-col>
    <ion-col class="delet_bg" (click)="reset();">
      <span class="header_icon">{{ 'SERVICE_AREAS_PAGE.BUTTONS.btn_reset' | translate }}</span>
    </ion-col>
  </ion-row>

</ion-footer>
