<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button (click)="dismiss()" class="my-style-for-modal" icon-only ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <img class="header_icon_addrs" src="assets/imgs/header_icon.png">
      <span class="title-style">{{pageTitle}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-spinner block name="crescent" color="primary" class="spinner_center" *ngIf="showProgress"
               item-center></ion-spinner>

  <div align="center" *ngIf="isUpdate">
    <img style="width: 40%;" class="profile-image"
         [src]="imgUrl"
         (error)="assetImg();"
         (click)="promptPickImage($event);">
  </div>

  <form class="customer_poptxt" >

<!--    <ion-item>-->
<!--      <ion-label>Select Category</ion-label>-->
<!--      <ion-select [(ngModel)]="input.category" name="category">-->
<!--        <ion-option value={{cat.category}} *ngFor="let cat of categoryList"-->
<!--                    (ionSelect)="updateCategoryDetails($event, cat)">{{cat.category}}</ion-option>-->
<!--      </ion-select>-->
<!--    </ion-item>-->

    <!--<ion-item *ngIf="categorySelected" class="no_bg no_shadow input_container ">
      <ion-label>Service</ion-label>
      <ion-select>
        <ion-option value={{catProduct.productid}}
                    *ngFor="let catProduct of categoryProductsList"
                    (ionSelect)="updateProductDetails($event, catProduct);">
          {{ catProduct.pname }}</ion-option>
      </ion-select>
    </ion-item>-->

<!--    <ion-item class="ion-selector">-->
<!--      <ion-label>Set Vechicles</ion-label>-->
<!--      <ion-select [(ngModel)]="input.id" name="id"  multiple="true">-->
<!--        <ion-option value={{vechicle.id}}-->
<!--          *ngFor="let vechicle of vechicleTypes">-->
<!--          {{vechicle.vehicletype}}-->
<!--        </ion-option>-->
<!--      </ion-select>-->
<!--    </ion-item>-->

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>{{ 'CREATE_SERVICES_PAGE.LABELS.lb_service_name' | translate }}</ion-label>
      <ion-input name="pname" class="" type="text" [(ngModel)]="input.pname" required></ion-input>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>{{ 'CREATE_SERVICES_PAGE.LABELS.lb_service_type' | translate }}</ion-label>
      <ion-input class="" name="ptype" type="text" [(ngModel)]="input.ptype" maxlength="50" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'CREATE_SERVICES_PAGE.LABELS.lb_currency_type' | translate }}</ion-label>
      <ion-select name="currency" [(ngModel)]="input.currency">
	      <ion-option value="aed" true>AED</ion-option>
        <ion-option value="inr">INR</ion-option>
        <ion-option value="usd">USD</ion-option>
        <ion-option value="eur">EUR</ion-option>
        <ion-option value="sar">SAR</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>{{ 'CREATE_SERVICES_PAGE.LABELS.lb_service_cost' | translate }}</ion-label>
      <ion-input class="" name="pcost" type="text" [(ngModel)]="input.pcost" maxlength="50" required></ion-input>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>{{ 'CREATE_SERVICES_PAGE.LABELS.lb_discount' | translate }}</ion-label>
      <ion-input class="" name="discount" type="text" [(ngModel)]="input.discount" maxlength="50" required></ion-input>
    </ion-item>


    <ion-item class="no_bg no_shadow input_container ">
      <ion-label>{{ 'CREATE_SERVICES_PAGE.LABELS.lb_priority' | translate }}</ion-label>
      <ion-select name="priority" [(ngModel)]="input.priority">
        <ion-option value={{priority1}}
                    *ngFor="let priority1 of priorityList">
          {{ priority1 }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-row class="">
      <ion-col align-self-center="">
        <button ion-button class="wd-100pc bg-gray" (click)="closeModal()">{{ 'CREATE_SERVICES_PAGE.BUTTONS.btn_cancel' | translate }}</button>
      </ion-col>
      <ion-col align-self-center="">
        <button ion-button class="wd-100pc" type="Create" (click)="doValidation();">{{buttonTitle}}</button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
