<ion-content padding>
  <div class="fixscrollcontainer">
  <ion-spinner *ngIf="showProgress" block class="spinner_center" color="primary" item-center
               name="crescent"></ion-spinner>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <h5 *ngIf="noRecords" class="empty_middle_text_center" text-center="true">Jobs not found</h5>

  <!--Search Functionality-->
  <ion-card class="customer_mgmnttop">
    <ion-item>
      <ion-label>Search Type</ion-label>
      <ion-select [(ngModel)]="searchInput.searchtype" name="searchtype">
        <ion-option true value="name">Name</ion-option>
        <ion-option value="mobile">Phone No</ion-option>
        <ion-option value="orderid">Job Id</ion-option>
      </ion-select>
    </ion-item>

    <ion-row class="tp_searachbox">
      <ion-col col-10="true">
        <ion-item class="no_bg no_shadow input_container ">

          <ion-input [(ngModel)]="searchInput.searchtext" class="" maxlength="50" name="locality" required type="text">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="top_srch_icon">
        <ion-icon (click)="search($event);" name="search"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-list *ngIf="!noRecords">
    <div *ngFor="let order of response">

      <ion-card class="colomn_main">

        <ion-card-header class="jobid_header">
          <span class="jobassign_no">#{{order.order_id}}</span> <div class="order_heading"> <label>Status</label><span>{{order.statusUpdated}}</span></div>
        </ion-card-header>

        <ion-row>


        </ion-row>


        <ion-row>
          <ion-col><span class="job_mgm_lbl">Cart ID</span>{{order.cart_id}}</ion-col>
          <ion-col><span class="job_mgm_lbl">Delivery Time</span>{{order.delivery_exceptedtime}}</ion-col>
        </ion-row>
        <ion-row class="border_b">
          <ion-col><span class="job_mgm_lbl">Last Updated</span>{{order?.timestamp | utcDate}}</ion-col>
          <ion-col class="amount_aed"><span class="job_mgm_lbl">Amount</span>AED {{order.billamt_updated}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col><ion-icon name="pin"></ion-icon><span class="ord_address">{{order.orderby_address}}</span></ion-col>
        </ion-row>

        <ion-row>

          <ion-col>
            <button (click)="viewDetails($event,order.order_id,order.category.categoryid);" color="primary" ion-button>
              VIEW DETAILS
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </div>
</ion-content>
