<ion-content padding>

  <ion-spinner *ngIf="showProgress" block class="spinner_center" color="primary" item-center
               name="crescent"></ion-spinner>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <h5 *ngIf="noRecords" class="empty_middle_text_center" text-center="true">Jobs not found</h5>


  <ion-list *ngIf="!noRecords">
    <div *ngFor="let order of response">

      <ion-card class="colomn_main">

        <ion-card-header class="jobid_header">
          <span class="jobassign_no">#{{order.order_id}}</span> <span class="order_heading">{{order.statusUpdated}}</span>
        </ion-card-header>

        <ion-row>
          <ion-col>#{{order.order_id}} </ion-col>
          <ion-col>AED {{order.billamt_updated}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Cart ID</ion-col>
          <ion-col>Delivery Time</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{order.cart_id}}</ion-col>
          <ion-col>{{order.delivery_exceptedtime}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>{{order.slotdate}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-icon name="pin"></ion-icon><span class="ord_address">{{order.orderby_address}}</span></ion-col>
        </ion-row>

        <ion-row>
          <ion-col>{{order?.timestamp | utcDate}}</ion-col>
          <ion-col>
            <button (click)="viewDetails($event,order.order_id,order.category.categoryid);" color="primary" ion-button>
              VIEW DETAILS
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
