<ion-menu [content]="content" id="menu1">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let p of pagesDealer;" menuClose (click)="openPage(p)">
        <img [src]="p.icon"  style="width: 10%" [alt]="p.icon"> <span>{{p.title}}</span>
      <ion-item-group submenu [class.visible]="p.subMenu">
        <ion-item *ngFor="let p1 of p.subMenu" (click)="openSubPage(p1)" style="padding-left: 30px;padding-top: 10px">{{p1.title}}</ion-item>
      </ion-item-group>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu [content]="content" id="menu2">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button class="menu_left_icon" style="padding: 5px" menuClose ion-item *ngFor="let p of pagesSupplier" (click)="openPage(p)">
        <!--<ion-icon [name]="p.icon"></ion-icon>-->
        <img [src]="p.icon"  style="width: 10%" [alt]="p.icon">
        <span>{{p.title}}</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu [content]="content" id="menu3">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button class="menu_left_icon" style="padding: 5px" menuClose ion-item *ngFor="let p of pagesVendor" (click)="openPage(p)">
        <!--<ion-icon [name]="p.icon"></ion-icon>-->
        <img [src]="p.icon"  style="width: 10%" [alt]="p.icon">
        <span>{{p.title}}</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu [content]="content" id="menu4">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button class="menu_left_icon" style="padding: 5px" menuClose ion-item *ngFor="let p of pagesJobAssigner" (click)="openPage(p)">
        <!--<ion-icon [name]="p.icon"></ion-icon>-->
        <img [src]="p.icon"  style="width: 10%" [alt]="p.icon">
        <span>{{p.title}}</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu [content]="content" id="menu5">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button class="menu_left_icon" style="padding: 5px" menuClose ion-item *ngFor="let p of pagesBilling" (click)="openPage(p)">
        <!--<ion-icon [name]="p.icon"></ion-icon>-->
        <img [src]="p.icon"  style="width: 10%" [alt]="p.icon">
        <span>{{p.title}}</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
