// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon {
  &[class*="appname-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }
  // custom icons
  &[class*="categories"] {
    mask-image: url(../assets/imgs/img_customer_care.png);
  }
  &[class*="customer_cate"] {
    mask-image: url(../assets/imgs/img_customer_care.png);
  }
  &[class*="dashboard"] {
    mask-image: url(../assets/imgs/img_dashboard.png);
  }}
  .menu_left_icon img {
    width: 7% !important;
    /*! min-height: auto !important; */
    margin: 0px 7px !important;
    padding: 0 !important;
    float: left;
  }

  .menu_left_icon {

    min-height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    display:flex;
    vertical-align: middle;
    line-height: 20px;
  }
  .menu_left_icon .label
  {margin: 0 !important;

    line-height: 20px !important;

    padding: 6px 0 !important;}

.job_mgm_lbl {
  width: 100%;
  display: inline-block;
  color: #a2a2a2;
  line-height: 10px;
  font-size: 12px;
}
.customer_mgmnttop {
  background: transparent !important;
  box-shadow: none;
  margin: 0;
  width: 100%;

  .tp_searachbox {
    background: #fff;
    margin-top: 6px;
  }
  .top_srch_icon {
    text-align: center;
    margin-top: 15px;
  }
}
.edit_bg {
  background: #38b7fe;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}
.delet_bg {
  background: #666;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

.jobid_header {

  background: #2196F3;
}
@media (min-width: 300px) {
  .fixscrollcontainer
  {width :100%; display: inline; }
  .loginapp_icon .logo_container{ padding:25px 0 !important;}

}
@media (min-width: 550px) {
  .fixscrollcontainer
  {width :100%; margin:0 auto; display: block; background: #f1f5f7;}
}
.platform-ios .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom: none !important;
  box-shadow: none !important;
}
.platform-ios .item-md.item-input.input-has-focus .item-inner {
  border: 1px solid #fff !important;
  -webkit-box-shadow:none !important;
  box-shadow :none !important;
}
.card_lst_cntr.card-ios{margin: 12px 0 0 0;
  width: 100%;}
.alert-ios .alert-wrapper{color: #444;}
.droplist{max-width: 100%;}
@media (min-width: 1025px) {
  .scroll-content {
    background: url(../assets/imgs/bg1.jpg) center !important;
  }
}
.no_bg.login_fields {
  background: #fff;
}
