<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title start>
      <img class="header_icon" src="assets/imgs/img_engineer.png">
      <span class="title-style">{{ 'SERVICE_AGENTS_PAGE.PAGE_TITLE' | translate }}</span>
    </ion-title>
    <ion-buttons *ngIf="isDealer" end (click)="create($event, '')">
      <button ion-button icon-end>
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="fixscrollcontainer">
    <ion-spinner block name="crescent" color="primary" class="spinner_center" *ngIf="showProgress" item-center></ion-spinner>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>

    <h5 *ngIf="noRecords" >Service Agents not found</h5>

    <!--Search Functionality-->
    <ion-card class="customer_mgmnttop">

      <ion-row class="tp_searachbox">
        <ion-col col-4="true">
          <ion-select [(ngModel)]="searchInput.searchtype" name="searchtype" class="droplist">
            <ion-option true value="name">Name</ion-option>
            <ion-option value="mobile">Phone No</ion-option>
          </ion-select>
        </ion-col>
        <ion-col col-6="true">
          <ion-item class="no_bg no_shadow input_container ">

            <ion-input [(ngModel)]="searchInput.searchtext" class="" maxlength="50" name="locality" required type="text">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2 class="top_srch_icon">
          <ion-icon (click)="search($event);" name="search"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-list *ngIf="!noRecords">
      <div *ngFor="let user of response">
        <ion-card class="customer_mgmnt">

          <ion-row>
            <ion-col>
              <span class="job_mgm_lbl">{{ 'SERVICE_AGENTS_PAGE.LABELS.lb_name' | translate }} </span>
              {{validate(user.firstname) +' '+ validate(user.lastname)}}
            </ion-col>
            <ion-col>
              <span class="job_mgm_lbl">{{ 'SERVICE_AGENTS_PAGE.LABELS.lb_mobile' | translate }} </span>
              {{user.mobileno}}
            </ion-col>
            <ion-col>
              <span class="job_mgm_lbl">{{ 'SERVICE_AGENTS_PAGE.LABELS.lb_cash' | translate }} </span> {{validate(user.flotting_cash)}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="user.address">
            <ion-col>
              <ion-icon name="pin"></ion-icon>
              {{validate(user.address)}}
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col><span class="job_mgm_lbl">{{ 'SERVICE_AGENTS_PAGE.LABELS.lb_vehicle number' | translate }} </span>{{validate(user.vechicle_number)}}</ion-col>
            <ion-col><span class="job_mgm_lbl">{{ 'SERVICE_AGENTS_PAGE.LABELS.lb_tracking' | translate }} </span>{{user.tracking}}</ion-col>
          </ion-row>

          <ion-row *ngIf="user.associateddealer">
            <ion-col><span class="job_mgm_lbl">{{ 'SERVICE_AGENTS_PAGE.LABELS.lb_associated' | translate }} </span>
              {{validate(user.associateddealer.firstname)+''+validate(user.associateddealer.lastname)}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-label>{{ 'SERVICE_AGENTS_PAGE.LABELS.lb_activate' | translate }}</ion-label>
            <ion-toggle  [(ngModel)]="user.activeStatus" [checked]="user.activeStatus" (ionChange)="changeActiveStatus(user);"></ion-toggle>
          </ion-row>

          <ion-row *ngIf="isDealer">
            <ion-col class="edit_bg" (click)="create($event, user);"><span class="header_icon">{{ 'SERVICE_AGENTS_PAGE.BUTTONS.btn_edit' | translate }}</span>
            </ion-col>
            <ion-col class="delet_bg" (click)="showPromptForDelete($event, user);"><span class="header_icon">{{ 'SERVICE_AGENTS_PAGE.BUTTONS.btn_delete' | translate }}</span></ion-col>
          </ion-row>

        </ion-card>
      </div>
    </ion-list>
  </div>
</ion-content>
