<ion-header>
  <ion-navbar>
    <!--<ion-title start>
      <img class="header_icon" src="assets/imgs/img_rating.png">
      <span class="title-style">SERVICE AGENTS</span>
    </ion-title>-->

    <ion-segment [(ngModel)]="segmentValue" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="listView">
        <ion-label style="text-align: center; color: white">LIST VIEW</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mapView" *ngIf="showMap">
        <ion-label style="text-align: center; color: white">MAP VIEW</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content style="background: #00a4cc">


    <div id="map_canvas1" style="height: 100%" *ngIf="!isListView">
    </div>

    <div *ngIf="isListView">
      <ion-list radio-group [(ngModel)]="selectedValue" >
        <ion-item *ngFor="let list of mainList">
          <ion-label *ngIf="list.availability == 1" style="color:#00a4cc">{{list.firstname + " " + list.lastname}}</ion-label>
          <ion-label *ngIf="list.availability != 1" style="color: red">{{list.firstname + " " + list.lastname}}</ion-label>
          <ion-radio [value]="list"></ion-radio>
        </ion-item>
      </ion-list>
    </div>

  <!--<ion-segment [(ngModel)]="segmentValue" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="listView">
      <ion-label style="text-align: left;">LIST VIEW</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mapView">
      <ion-label>MAP VIEW</ion-label>
    </ion-segment-button>
  </ion-segment>


  <div [ngSwitch]="segmentValue">
    <div *ngSwitchCase="'mapView'">
      <div [style.display]="segmentValue == 'mapView' ? 'block' : 'none'">
        <div #map id="map_canvas1"></div>
      </div>
    </div>
    <div *ngSwitchCase="'listView'">
      <ion-list radio-group [(ngModel)]="selectedValue">
        <ion-item *ngFor="let list of mainList">
          <ion-label>{{list.firstname + " " + list.lastname}}</ion-label>
          <ion-radio [value]="list"></ion-radio>
        </ion-item>
      </ion-list>
    </div>
  </div>-->

  <!--<ion-list radio-group [(ngModel)]="selectedValue" *ngIf="isListView">
    <ion-item *ngFor="let list of mainList">
      <ion-label>{{list.firstname + " " + list.lastname}}</ion-label>
      <ion-radio [value]="list"></ion-radio>
    </ion-item>
  </ion-list>-->

  <!--<div *ngIf="!isListView">

    <div  id="map_canvas1" style="height: 50%">
    </div>

   &lt;!&ndash; <div  style="height: 50%">
    </div>&ndash;&gt;

  </div>-->

</ion-content>

<ion-footer no-border>
  <ion-row class="">
    <ion-col align-self-center="">
      <button ion-button class="wd-100pc bg-gray" (click)="closeModal()">Cancel</button>
    </ion-col>
    <ion-col align-self-center="">
      <button ion-button class="wd-100pc" type="Create" (click)="doValidation($event);">{{buttonTitle}}</button>
    </ion-col>
  </ion-row>
</ion-footer>
