<ion-content padding>
  <div class="fixscrollcontainer">
  <ion-spinner *ngIf="showProgress" block class="spinner_center" color="primary" item-center
               name="crescent"></ion-spinner>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <h5 *ngIf="noRecords" class="empty_middle_text_center" text-center="true">jobs not found</h5>

  <!--Search Functionality-->
  <ion-card class="customer_mgmnttop">

    <ion-row class="tp_searachbox">
      <ion-col col-4="true">
        <ion-select [(ngModel)]="searchInput.searchtype" name="searchtype" class="droplist" (ionChange)="selected();">
          <ion-option true value="name">Name</ion-option>
          <ion-option value="mobile">Phone No</ion-option>
          <ion-option value="orderid">Job Id</ion-option>
        </ion-select>
      </ion-col>
      <ion-col col-6="true" *ngIf="searchInput.searchtype == 'name' || searchInput.searchtype == 'orderid'">
        <ion-item class="no_bg no_shadow input_container ">

          <ion-input [(ngModel)]="searchInput.searchtext" placeholder="type here..." class="" maxlength="50" name="locality" required type="text">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-6="true" *ngIf="searchInput.searchtype == 'mobile'">
        <ion-item class="no_bg no_shadow input_container ">

          <ion-input [(ngModel)]="searchInput.searchtext" placeholder="type here..." class="" maxlength="9" name="locality" required type="text">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2 class="top_srch_icon">
        <ion-icon (click)="search($event);" name="search"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-list *ngIf="!noRecords">
    <div *ngFor="let order of response">

      <ion-card class="colomn_main card_lst_cntr">

        <ion-card-header class="jobid_header">
          <span class="jobassign_no"> #{{order.order_id}}</span> <div class="order_heading"> <label>{{'JOBS_PAGE.LABELS.lb_status' | translate }}</label><span>{{order.statusUpdated}}</span></div>
        </ion-card-header>

        <ion-row>
          <ion-col><span class="job_mgm_lbl">{{'JOBS_PAGE.LABELS.lb_cart_id' | translate }}</span>{{order.cart_id}}</ion-col>
          <ion-col><span class="job_mgm_lbl">{{'JOBS_PAGE.LABELS.lb_delivery_time' | translate }}</span>{{order.delivery_exceptedtime}}</ion-col>
        </ion-row>
        <ion-row class="border_b">
          <ion-col><span class="job_mgm_lbl">{{'JOBS_PAGE.LABELS.lb_last_updated' | translate }}</span>{{order?.timestamp | utcDate}}</ion-col>
          <ion-col class="amount_aed"><span class="job_mgm_lbl">{{'JOBS_PAGE.LABELS.lb_amount' | translate }}</span>AED {{order.billamt_updated}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col><ion-icon name="pin"></ion-icon><span class="ord_address" (click)="this.alertUtils.showNavigation(order.orderby_address)">{{order.orderby_address}}</span></ion-col>
        </ion-row>

        <ion-row  *ngIf="order.assignedby && isSuperUser">
          <ion-col>
            {{ 'JOB_DETAILS_PAGE.LABELS.lb_assignedby' | translate }}{{ order?.assignedby}}
          </ion-col>
        </ion-row>

        <ion-row  *ngIf="order.cancelledby && isSuperUser">
          <ion-col>
            {{ 'JOB_DETAILS_PAGE.LABELS.lb_cancelledby' | translate }}{{ order?.cancelledby}}
          </ion-col>
        </ion-row>

        <ion-col>
            <button (click)="viewDetails($event,order.order_id,order.category.categoryid);" color="primary" ion-button>
              {{'JOBS_PAGE.BUTTONS.btn_view_details' | translate}}
            </button>
          </ion-col>

        <div style="padding-top: 5px; background: aliceblue;" *ngIf="order?.customerreview">
          <ion-row>
            <ion-col *ngIf="order?.customerreview >= 1" style="text-align: -webkit-center;"><img class="header_icon" src="assets/imgs/star.png"></ion-col>
            <ion-col *ngIf="order?.customerreview >= 2" style="text-align: -webkit-center;"><img class="header_icon" src="assets/imgs/star.png"></ion-col>
            <ion-col *ngIf="order?.customerreview >= 3" style="text-align: -webkit-center;"><img class="header_icon" src="assets/imgs/star.png"></ion-col>
            <ion-col *ngIf="order?.customerreview >= 4" style="text-align: -webkit-center;"><img class="header_icon" src="assets/imgs/star.png"></ion-col>
            <ion-col *ngIf="order?.customerreview >= 5" style="text-align: -webkit-center;"><img class="header_icon" src="assets/imgs/star.png"></ion-col>
          </ion-row>
        </div>

      </ion-card>
    </div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </div>
</ion-content>
