<ion-content padding>

  <ion-spinner block name="crescent" color="primary" class="spinner_center" *ngIf="showProgress" item-center></ion-spinner>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <div *ngFor="let req of response">


      <!--<ion-card>

        <ion-row>
          <ion-col>Req No: {{req.reqid}} </ion-col>
          <ion-col>Invoice Date: {{reqdate}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Created By: {{req.request_createdby}}</ion-col>
          <ion-col>Raised By: {{req.stockpoint_details.firstname +" "+req.stockpoint_details.lastname}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Created Date</ion-col>
          <ion-col>Updated Date</ion-col>
          <ion-col>Confirmed Date</ion-col>
        </ion-row>

        &lt;!&ndash;<ion-row>
          <ion-col>{{req.products[0].reqdate}}</ion-col>
          <ion-col *ngIf="req.products[0].reqconfirmdate">{{req.products[0].reqconfirmdate}}</ion-col>
          <ion-col *ngIf="req.products[0].dealer_confirmdate">{{req.products[0].dealer_confirmdate}}</ion-col>
        </ion-row>&ndash;&gt;

        <ion-row>
          <ion-col>Filled</ion-col>
          <ion-col>Empty</ion-col>
          <ion-col>Cost</ion-col>
          <ion-col>Total Cost</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{req.category+" "+req.brandname+" "+ptype}}
          </ion-col>
        </ion-row>

        <div *ngFor="let product of req.products">
          <ion-row>
            <ion-col>{{product.stock}}</ion-col>
            <ion-col>{{product.returnemptycans}}</ion-col>
            <ion-col>{{product.pcost}}</ion-col>
            <ion-col>{{calculateTotalCost(product.stock, product.pcost)}}</ion-col>
          </ion-row>
        </div>

      </ion-card>-->
    </div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
