<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="page1">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons left>
      <button ion-button (click)="back()" *ngIf="page2">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="add()" *ngIf="page1 && isDealer">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="fixscrollcontainer">

    <div *ngIf="page1">
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
      </ion-refresher>
      <div *ngFor="let item of list">
        <div>
          <ion-card>
            <ion-row>
              <ion-col col-2>
                <ion-avatar>
                  <img src="{{item.url}}" style="height: 40px; width: 40px" (error)="onImageError(item)" />
                </ion-avatar>
              </ion-col>
              <ion-col col-8>
                <ion-item>
                  <h2>{{item.category}}</h2>
                  <p>Priority: {{item.priority}}</p>
                  <p>{{item.category_desc}}</p>
                </ion-item>
              </ion-col>
              <ion-col col-2 *ngIf="item.isactive == 0">
                <b class="danger">In-Active</b>
              </ion-col>

            </ion-row>
            <ion-row>
              <ion-col (click)="update(item)" class="edit_bg"><span class="header_icon">Update</span>
              </ion-col>

              <ion-col (click)="delete(item)" class="delet_bg">
                <span class="header_icon" *ngIf="item.isactive == 0">Enable</span>
                <span class="header_icon" *ngIf="item.isactive == 1">Disable</span>

              </ion-col>

              <ion-col (click)="viewServices(item)" class="edit_bg"><span class="header_icon">View Services</span></ion-col>
            </ion-row>

          </ion-card>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="page2">

    <div align="center">
      <img style="width: 40%;" class="profile-image" [src]="person.imgUrl" (error)="assetImg();" (click)="promptPickImage(person);">
    </div>

    <ion-list>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="person.category" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Priority</ion-label>
        <ion-input type="tel" [(ngModel)]="person.priority" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input type="text" [(ngModel)]="person.desp" name="name" required></ion-input>
      </ion-item>
    </ion-list>
    <button color="primary" ion-button block (click)="save()">{{btnText}}</button>
  </div>
</ion-content>
