<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="assets/imgs/header_icon.png" class="header_icon">
      <span class="title-style"> {{ 'ORDER_DETAILS_PAGE.PAGE_TITLE' | translate }}
      </span>
    </ion-title>
    <ion-buttons end *ngIf="callFrom == 'pushnotification'">
      <button ion-button clear (click)="close()">{{ 'ORDER_DETAILS_PAGE.BUTTONS.btn_done' | translate }}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="page_bg">
  <div class="fixscrollcontainer">
  <ion-spinner block name="crescent" class="spinner_center" color="primary" *ngIf="showProgress" item-center></ion-spinner>
  <div class="no_padding prdct_main_container order_details_pg" *ngIf="!showProgress">


    <ion-card class="no_padding">
      <ion-card-header class="cardtop_heading"><div class="pgid"><span class="orderid">#{{item?.order_id}}</span> <span class="statusupdt"> {{item.statusUpdated}} </span>
      </div>
        <div class="total_cost"><span class="orderid">Bill Amount</span><span class="statusupdt"> {{item?.billamt_updated}}</span></div>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <div class="corner-ribbon" *ngIf="item.promocodeapplied && item.promocodeapplied=='true'">Promocode Applied</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col><span class="job_mgm_lbl">DELIVERY</span>{{item?.delivery_exceptedtime}}</ion-col>
          <ion-col col-2><span class="job_mgm_lbl">TYPE</span> {{item?.orderby_paymenttype}}</ion-col>
          <ion-col><span class="job_mgm_lbl">Modified on</span>{{item?.modifieddate | utcDate}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <span class="gray8" item-start></span>
          </ion-col>
          <ion-col>
            <span class="no_padding no_margin  text_highlight"> </span>
          </ion-col>
        </ion-row>

        <ion-row>

          <ion-col *ngIf="item?.status != 'delivered'">
            <button ion-button color="primary" (click)="assignForward($event);">ASSIGN</button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!--Product Details-->
    <ion-card class="">
      <ion-card-header class="cardtop_heading"><span class="statusupdt">Services Details</span></ion-card-header>
      <ion-card-content class="no_margin no_padding">

        <ion-row>
          <ion-col>{{item?.productdetails?.category}}</ion-col>
        </ion-row>
        <div *ngFor="let product of productsList">
          <ion-row>
            <ion-col col-8>{{product?.brandname+" "+product?.ptype}}</ion-col>
            <ion-col><span class="job_mgm_lbl" style="width:auto !important">Cost :</span> {{product?.product_cost}}</ion-col>
          </ion-row>
          <ion-row>

          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>

    <!--order status-->
    <ion-card class="card_status">
      <ion-card-header class="cardtop_heading"><span class="statusupdt">Job Status</span></ion-card-header>
      <ion-card-content class="no_margin no_padding">

        <ul class="jb_status">
          <li class="jb_sts_dls"><ion-icon name="person"></ion-icon><div class="status_right_block"><span class="job_mgm_lbl">Created</span>
            {{validate(item?.orderby_firstname)+" "+validate(item?.orderby_lastname)}}
            {{item?.ordered_date | utcDate}}</div>
          </li>
          <li class="jb_sts_dls"><ion-icon name="checkmark" class="check"></ion-icon><div class="status_right_block"><span class="job_mgm_lbl">Assigned</span>
            {{validate(item?.supplierdetails?.firstname)+" "+validate(item?.supplierdetails?.lastname)}}
            {{item?.order_assigneddate | utcDate}}</div>
          </li>
          <li class="jb_sts_dls"><ion-icon name="checkmark" class="check"></ion-icon><div class="status_right_block"><span class="job_mgm_lbl">Started to Visit</span>
            {{validate(item?.supplierdetails?.firstname)+" "+validate(item?.supplierdetails?.lastname)}}
            {{item?.order_assigneddate | utcDate}}</div>
          </li>
          <li class="jb_sts_dls"><ion-icon name="checkmark" class="check"></ion-icon><div class="status_right_block"><span class="job_mgm_lbl">Job Started</span>
            {{validate(item?.supplierdetails?.firstname)+" "+validate(item?.supplierdetails?.lastname)}}
            {{item?.order_assigneddate | utcDate}}</div>
          </li>
          <li class="jb_sts_dls"><ion-icon name="thumbs-up" class="thumb"></ion-icon><div class="status_right_block"><span class="job_mgm_lbl">Completed</span>
            {{validate(item?.supplierdetails?.firstname)+" "+validate(item?.supplierdetails?.lastname)}}
            {{item?.order_delivereddate | utcDate}}</div>
          </li>
        </ul>

      </ion-card-content>
    </ion-card>

    <!--Images-->
    <ion-card *ngIf="item.status == 'jobstarted' || item.status == 'delivered'">
      <ion-card-header class="cardtop_heading"><span class="statusupdt">Job Images</span></ion-card-header>
      <ion-row>
        <ion-col>BEFORE</ion-col>
        <ion-col>AFTER</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><img [src]="imgUrlPre" style="width: 30%"></ion-col>
        <ion-col><img [src]="imgUrlPost" style="width: 30%"></ion-col>
      </ion-row>
    </ion-card>

    <ion-card *ngIf="item?.showassignstatus == true " class="dealer_contnr">
      <ion-card-header class="cardtop_heading"><span class="statusupdt">{{ 'ORDER_DETAILS_PAGE.LABELS.lb_supplier_details' | translate }}</span></ion-card-header>
      <ion-card-content class="no_margin no_padding" >
        <ion-row>
          <ion-col col-sm-5 col-md-5 col-lg-5 col-xl-5 class="fs-15">

          </ion-col>
          <ion-col col-sm-7 col-md-7 col-lg-7 col-xl-7 class="right">
          </ion-col>
        </ion-row>
        <ion-item class="no_margin no_padding" style="padding: 0;">
          <ion-icon name="person" item-left small class="no_margin no_padding"></ion-icon>
          <span *ngIf="item?.suppliername" class="text_output no_margin pdleft12-nopadding">{{item?.suppliername }}</span>
        </ion-item>
        <ion-item class="no_margin no_padding logo-color" (click)="callNow(item?.supplierdetails.mobileno)" *ngIf="item?.supplierdetails" style="padding: 0;">
          <ion-icon name="call" small class="no_margin no_padding"></ion-icon>
          <span class="text_output no_margin pdleft12-nopadding" style="color:#0f75bc;">{{item?.supplierdetails.mobileno}}</span>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card class="dealer_contnr">
      <ion-card-header class="cardtop_heading"><span class="statusupdt"> {{ 'ORDER_DETAILS_PAGE.LABELS.lb_customer_details' | translate }}</span></ion-card-header>
      <ion-card-content class="no_margin no_padding">
        <ion-row>
          <ion-col col-sm-5 col-md-5 col-lg-5 col-xl-5 class="fs-15">

          </ion-col>
          <ion-col col-sm-7 col-md-7 col-lg-7 col-xl-7 class="right">
          </ion-col>
        </ion-row>
        <ion-item class="no_margin no_padding" style="padding: 0;">
          <ion-icon name="person" item-left small class="no_margin no_padding"></ion-icon>
          <span class="text_output no_margin pdleft12-nopadding">{{validate(item?.dealerdetails.firstname) + " "+ validate(item?.dealerdetails.lastname) }}</span>
        </ion-item>
        <ion-row class="no_margin no_padding" hidden>
          <ion-icon col-1 name="pin" item-left small class="no_margin no_padding"></ion-icon>
          <ion-card-content col class="text_output no_margin pdleft20-nopadding">
            <span>{{item?.dealerdetails.address+", "+item?.dealerdetails.city+", "+item?.dealerdetails.state + "," + item?.dealerdetails.pincode}}</span>
          </ion-card-content>
        </ion-row>
        <ion-item (click)="callNow(item?.dealerdetails.mobileno)" class=" no_padding no_margin logo-color" style="padding: 0;">
          <ion-icon name="call" small></ion-icon>
          <span class="text_output no_margin pdleft12-nopadding" style="color:#0f75bc;">{{item?.dealerdetails.mobileno}}</span>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="cardtop_heading"><span class="statusupdt">  {{ 'ORDER_DETAILS_PAGE.LABELS.lb_order_msg' | translate }}</span></ion-card-header>
      <ion-card-content class="no_padding no_margin">

        <ion-row>
          <ion-col col-sm-5 col-md-5 col-lg-5 col-xl-5 class="fs-15">

          </ion-col>
        </ion-row>
        <div class="message-wrap">
          <div *ngFor="let mes of item?.messages" class="message" [class.left]=" mes.user.userid != userID " [class.right]=" mes.user.userid == userID ">
            <img class="user-img" style="width: 10%; float:left;" src="assets/imgs/img_user.png" alt="" *ngIf="mes.user.userid != userID">
            <div class="msg-detail">
              <div class="msg-info">
                <p>
                  {{mes.user.firstname}}&nbsp;&nbsp;&nbsp;{{mes.createddate | utcDate }}</p>
              </div>
              <div class="msg-content">
                <span class="triangle"></span>
                <p class="line-breaker ">{{mes.message}}</p>
              </div>
            </div>
          </div>

        </div>
      </ion-card-content>
    </ion-card>
  </div>
  </div>
</ion-content>
<ion-footer no-border>
  <ion-grid class="input-wrap">
    <ion-row>
      <ion-col col-10>
        <ion-textarea class="type_chat_text" #chat_input placeholder="Type a message here" (focusin)="onFocus()" [(ngModel)]="editorMsg" (keyup.enter)="sendMessage(item)">
        </ion-textarea>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only item-right (click)="sendMessage(item)">
          <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
