<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title start>
      <img class="header_icon" src="assets/imgs/img_user.png">
      <span class="title-style">{{ 'CUSTOMERS_PAGE.PAGE_TITLE' | translate }}</span>
    </ion-title>
    <ion-buttons *ngIf="isDealer" (click)="createCustomer($event, '')" end>
      <button icon-end ion-button>
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="fixscrollcontainer">
  <ion-spinner *ngIf="showProgress" block class="spinner_center" color="primary" item-center
               name="crescent"></ion-spinner>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <h5 *ngIf="noRecords" >Customers not found</h5>

  <!--Search Functionality-->
  <ion-card class="customer_mgmnttop">

    <ion-row class="tp_searachbox">
      <ion-col col-4="true">
        <ion-select [(ngModel)]="searchInput.searchtype" name="searchtype" class="droplist">
          <ion-option true value="name">Name</ion-option>
          <ion-option value="mobile">Phone No</ion-option>
        </ion-select>
      </ion-col>
      <ion-col col-6="true">
        <ion-item class="no_bg no_shadow input_container ">

          <ion-input [(ngModel)]="searchInput.searchtext" class="" maxlength="50" name="locality" required type="text">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2 class="top_srch_icon">
        <ion-icon (click)="search($event);" name="search"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>


  <!--List of Customers-->
  <ion-list *ngIf="!noRecords">
    <div *ngFor="let user of response">
      <ion-card class="customer_mgmnt">

        <ion-row>
          <ion-col><span class="job_mgm_lbl">{{ 'CUSTOMERS_PAGE.LABELS.lb_user_name' | translate }}</span>
            {{validate(user.firstname) + " " + validate(user.lastname)}}
          </ion-col>
          <ion-col>
            <span class="job_mgm_lbl">{{ 'CUSTOMERS_PAGE.LABELS.lb_mobile' | translate }}</span>
            {{user.mobileno}}
          </ion-col>
        </ion-row>

        <ion-row *ngIf="user.address">
          <ion-col>
            {{ 'CUSTOMERS_PAGE.LABELS.lb_address' | translate }} : {{validate(user.address)}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col (click)="createCustomer($event, user);" class="edit_bg"><span class="header_icon">{{ 'CUSTOMERS_PAGE.BUTTONS.btn_edit' | translate }}</span>
          </ion-col>
          <ion-col (click)="showPromptForDeleteCustomer($event, user);" class="delet_bg"><span class="header_icon"
          ></span>{{ 'CUSTOMERS_PAGE.BUTTONS.btn_delete' | translate }}
          </ion-col>
        </ion-row>

      </ion-card>
    </div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </div>
</ion-content>
