page-dealer-customers {
  .card-md {
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-bottom: 20px;
  }

  .img-overload{
    bottom: 20px;
    right: 20px;
  }

  .customer_btnedit{display: flex;
    float: right;
    width: 23%;}
  .edit_bg {
    background: #38b7fe;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  .delet_bg {
    background: #666;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }

  .job_mgm_lbl {
    width: 100%;
    display: inline-block;
    color: #a2a2a2;
    line-height: 26px;
  }
  .customer_mgmnttop {
    background: transparent !important;
    box-shadow: none;
    margin: 0;
    width: 100%;

    .tp_searachbox {
      background: #fff;
      margin-top: 6px;
    }
    .top_srch_icon {
      text-align: center;
      margin-top: 15px;
    }
  }
}
