<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button (click)="dismiss()" class="my-style-for-modal" icon-only ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <img class="header_icon_addrs" src="assets/imgs/header_icon.png">
      <span class="title-style">{{pageTitle}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-spinner block name="crescent" class="spinner_center" color="primary" *ngIf="showProgress" item-center></ion-spinner>
  <form class="customer_poptxt">

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>Name *</ion-label>
      <ion-input name="firstname" class="" type="text" [(ngModel)]="input.firstname" required></ion-input>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>Phone Number *</ion-label>
      <ion-input class="" name="phno1" type="tel" [(ngModel)]="input.phno1" maxlength="9" required></ion-input>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>Alternate Mobile *</ion-label>
      <ion-input class="" type="text" [(ngModel)]="input.phno2" name="phno2" maxlength="9" ></ion-input>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>ID *</ion-label>
      <ion-input class="" type="text" [(ngModel)]="input.id" name="id" maxlength="10" ></ion-input>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>Vehicle Number *</ion-label>
      <ion-input class="" type="text" [(ngModel)]="input.vechicleNumber" name="vehicleNumber" maxlength="10" ></ion-input>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>Floating Cash *</ion-label>
      <ion-input class="" type="text" [(ngModel)]="input.flottingCash" name="flottingCash" maxlength="10" ></ion-input>
    </ion-item>

    <ion-item class="no_bg no_shadow input_container ">
      <ion-label floating>Address *</ion-label>
      <ion-input class="" type="text" [(ngModel)]="input.addr" name="addr" maxlength="250" ></ion-input>
    </ion-item>

    <ion-item *ngIf="showVendor">
      <ion-label>Vendor</ion-label>
      <ion-select [(ngModel)]="input.distributor" name="distributor">
        <ion-option value={{distributor.firstname}} *ngFor="let distributor of distributorsList"
                    (ionSelect)="updateDistributorDetails($event, distributor)">{{distributor.firstname+' '+distributor.lastname}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-row class="">
      <ion-col align-self-center="">
        <button ion-button class="wd-100pc bg-gray" (click)="closeModal()">Cancel</button>
      </ion-col>
      <ion-col align-self-center="">
        <button ion-button class="wd-100pc" type="Create" (click)="doValidation();">{{buttonTitle}}</button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
